@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

li,
a,
button {
  font-size: 16px;
  font-weight: 500;
  font-size: 16px;
}

nav {
  justify-content: center;
  justify-items: center;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  /* padding: 16px 36px; */
}

.nav_links {
  display: flex;

  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.kiteD {
  font-size: 48px;
  line-height: 48px;
  font-family: "Calligraffitti";
  font-style: normal;
  align-self: flex-end;

  justify-content: left;
}

button.user {
  width: 100%;
  max-width: 51px;
  max-height: 51px;
  border: none;
  border-color: transparent;
  background-color: #ffffff;
}

button.addSpot {
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 11px 35px 11px 25px;
  background: #4a90e2;
  border-color: #4a90e2;
  color: #ffffff;
  max-width: 150px;
  width: auto;
}

button.favoritesMap {
  display: flex;
  padding: 10px;
  /* align-content: center; */
  /* align-items: center; */
  /* align-self: center; */
  width: 100%;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  background-color: #e8b100;
  border-color: transparent;
}

button.markerMap {
  display: flex;
  padding: 10px;
  /* align-content: center; */
  /* align-items: center; */
  /* align-self: center; */
  width: 100%;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  background-color: #ff3b30;
  border-color: transparent;
}

button.filter {
  display: flex;
  justify-content: flex-end;
  /* width: auto; */
  align-items: center;
  max-width: 150px;
  max-height: 44px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  /* left: 1272px; */
  border: 0;
  color: #1a1a1a;
  margin-top: 63px;
  background: #ffffff;
  margin-right: 19px;
  margin-left: auto;
  padding: 17px 27px 17px 25px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
  height: auto;
}
.map-container {
  width: 100vw;
  height: 100vh;
}

.map-container-addSpot {
  width: 302px;
  height: 242px;
}

#root {
  padding: 0px;
}
p.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #787878;
}
p.country {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #787878;
  padding-bottom: 38px;
}
p.info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

h1.location {
  max-width: 507px;
  max-height: 65px;
  display: flex;
  /* width: 100%; */
  /* height: 100%; */
  justify-items: flex-start;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  margin-right: auto;
  margin-left: 7.5%;
  margin-top: 51px;
  color: #1a1a1a;
}

input.searchb {
  font-size: larger;
  /* margin-left: 7.6%; */
  max-width: 360px;
  width: 100%;
  background-color: #979797;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  max-height: 44px;
  height: 100%;
  border: 0;
  margin-top: 19px;
  place-content: "Search blog posts";
  background-color: #f0f2f3;
}

.d-flex {
  font-size: larger;
  margin-left: 7.6%;
  max-width: 360px;
  /* width: 100%; */
  /* background-color: #979797; */
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  max-height: 44px;
  height: 100%;
  border: 0;
  display: flex;
  margin-top: 19px;
  place-content: "Search blog posts";
}

label.search {
  font-size: larger;

  max-width: 360px;

  background-color: #979797;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  max-height: 44vh;
  height: 100%;
  border: 0;
  padding: 12px;
  margin-top: 19px;
  place-content: "Search blog posts";
  background-color: #e4e7e9;
  opacity: 0.54;

  padding-right: 28px;
}

::placeholder {
  color: rgba(0, 0, 0, 0.87);
  opacity: 1;
}

table,
th,
td {
  border-collapse: collapse;
}

table {
  background-color: #f3f3f3;
}
td,
th {
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  height: 49px;

  text-align: left;
}

tr:nth-child(even) {
  background-color: #ffffff;
  height: 49px;
}

select {
  background-color: transparent;
  border-color: transparent;
  padding-left: 24px;
}

div.scrollmenu {
  overflow: auto;
  max-width: 1220vw;
  width: 80%;
  display: grid;
  margin-left: 7.6%;
  margin-top: 31px;
}

th.top {
  background-color: #d8d8d8;
}

.marker {
  position: absolute;
  width: 100vw;
  height: auto;
}

.dbMenu {
  margin-top: 63px;
  background: #ffffff;
  margin-right: 19px;
  margin-left: auto;
  padding: 17px 27px 17px 25px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
  width: 242px;
  display: grid;
  height: 248px;
}

.filterInput {
  border-bottom-color: #c7c7cc;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 16px;
  font-size: 16px;
}

.applyFilter {
  width: 150px;
  height: 44px;
  left: 1225px;
  top: 305px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
  background-color: #ffffff;
  border: 0px;
  justify-self: center;
  margin-top: 30px;
  font-weight: 700;
}

.addSpotMenu {
  /* margin-top: 7%; */
  background: #ffffff;
  margin-right: auto;
  margin-left: auto;
  padding: 17px 27px 17px 25px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
  width: 348px;
  max-height: 644px;
  flex-direction: column;
  display: flex;
  align-items: stretch;
}

.addSpotButtonC {
  background: transparent;
  border: 0px;
  padding: 11px 6px 9px 18px;
  color: red;
}
.addSpotButtonCO {
  background: transparent;
  border: 0px;
  padding: 11px 6px 9px 18px;
  color: rgb(25, 0, 255);
}

.CCbuttons {
  display: flex;
  justify-content: flex-end;
}

.userButton {
  position: absolute;
  display: flex;
  width: 106px;
  z-index: 9;
  margin-top: 88px;
  margin-right: 16px;
  height: 48px;
  /* background-color: #FAFAFA; */
  border: 0px;
  color: #ff3b30;
}

.logout {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.err {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  color: red;
}
