@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Roboto:wght@300&display=swap");

body {

display: flex;
flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  width: calc(100% - 10px);
  padding: 10px;
}

.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
form.b {
  max-width: 1440px;
  height: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}
.kite {
  max-width: 547px;
  font-family: "Calligraffitti";
  font-style: normal;
  font-weight: 400;
  font-size: 5em;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #1a1a1a;
}

.input-label {
  font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 44px;
    width: auto;
    color: #1a1a1a;
    align-self: start;
}
.input {
  height: 100%;
  font-size: larger;
  width: 100%;
  max-width: 420px;
  border: 2px solid #979797;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;  
  display: flex;
  height: 44px;
}
.loginButton {
  max-width: 221px;
  width: 100%;
  padding: 13px 33px 17px 33px;
  border-color: #4a90e2;
  background: #4a90e2;
  display: flex;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 50%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 32.81px;
  margin-top:64px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.loginButton > p {
  margin-left: 2em;
  margin-right: 2em;
}
div.i {
  max-width:420px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-bottom: 25px;
}
